{% extends "base.html" %}
{% block css %}<link rel="stylesheet" href="/static/css/index.css">{% endblock css %}
{% block Title %}MusicLet | Home{% endblock Title %}
{% block content %}
<div class="content">
    <div class="slogan unselectable">
        <span class="name">Your MusicLet </span>
        <br>
        <span class="every"><b>EVERYWHERE</b></span>
        <br>
        <span class="and">And</span>
        <br>
        <span class="every"><b>EVERYTIME</b></span>
        <br>
    </div>
</div>
<div class="footer123">Copyright © Pranav Tripathi All Rights Reserved</div>
{% endblock content %}