<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/room.css">
    <title>MusicLet | Room {{code}}</title>
</head>
<body>
    <!-- Is Public : {{public}}
        <br>
        Type : {{type_}}
        <br>
        Size : {{size}}
        <br>
        Can Guest Pause : {{guestcanpause}}
        <br>
        Description : {{description}}
        <br>
        Room Code : {{code}} -->
        <div class="musicplayer">
            <div class="img"><img src="/static/img/music-player.jpg" alt="IMG"></div>
            <div class="player-controller">
                <div class="play-previous resume controller"></div>
                <div class="pause controller clicking" id="pause"></div>
                <div class="play-next resume controller"></div>
            </div>
        </div>
        <script>
            console.log("{{code}}");
            </script>
    <script src="/static/js/room.js"></script>
</body>
</html>