.img img{
    width: 350px;
    height: 340px;
    border-radius: 20px;
}
.player-controller{
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.controller{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.play-previous{
    background: url('/static/img/previous.png');
    background-size: cover;
}
.play-next{
    background: url('/static/img/next.png');
    background-size: cover;
}
/* .controller img{
    width: 50px;
} */
.pause{
    background: url('/static/img/pause.png');
    background-size: cover;
}
.play-next img{
    transform: rotate(180deg);
}
.musicplayer{
    width: 351px;
    display: block;
    margin: auto;
    margin-top: 10vh;
    padding: 80px;
    background: #8707ff;
    background: -webkit-radial-gradient(#8707ff, #af202059);
    background: -o-radial-gradient(#8707ff, #af202059);
    background: -moz-radial-gradient(#8707ff, #af202059);
    background: radial-gradient(#8707ff, #af202059);
    border-radius: 50px;
    border: 5px solid #af202059;
}
body{
    background: linear-gradient(-45deg, #EE77e2, #E73C7e, #23A6D5, #23D5AB);
    background-size: 400%;
    animation: changeColor 5s ease-in-out infinite;
    height: 88vh;
}
.clicking{
    animation-name: clickingEffect;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: initial;
}
@keyframes changeColor{
    0%{
        background-position: 0, 50%;
    }
    50%{
        background-position: 100%, 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/* @keyframes clickingEffect{
    0%{
        background: url('/static/img/pause.png');
        background-size: cover;
    }
    100%{
        background: url('/static/img/play.png');
        background-size: cover;
    }
    0%{
        background: url('/static/img/play.png');
        background-size: cover;
    }
} */
